<ion-header>
  <ion-toolbar class="main-color">
    <ion-title>Educacion y Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="logIn()" [formGroup]="loginForm">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Correo Electrónico" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Correo electrónico obligatorio.</span>
        <span *ngIf="email.errors?.email">Correo electrónico inválido.</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Contraseña obligatoria.</span>
        <span *ngIf="password.errors?.minlength">Debe tener mínimo 6 caracteres de longitud.</span>
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!loginForm.valid" class="color-button">Iniciar sesión
    </ion-button>
    <ion-button type="button" expand="block" class="color-button" [routerLink]="['/registration']">No sos usuario?
      Registrate!
    </ion-button>

  </form>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <img src="./assets/img/joystick.png" style="width:64px;" />
      </ion-col>
      <ion-col>
        <img src="./assets/img/joystick.png" style="width:64px;" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="">
        <div>
          <ion-fab-button class="color-button ion-text-center" (click)="loguearAs('admin')">Admin</ion-fab-button>
        </div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-fab-button class="color-button" (click)="loguearAs('invitado')">Invitado</ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col class="ion-align-self-end">
        <ion-fab-button class="color-button" (click)="loguearAs('usuario')">Usuario</ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button class="color-button" (click)="loguearAs('anonimo')">Anonimo</ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-fab-button class="color-button" (click)="loguearAs('tester')">Tester</ion-fab-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>