<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="home" size="large" color="primary"></ion-icon>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-icon style="font-size: 32px;" src="../assets/img/joystick.svg"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-buttons slot="end">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioPerro');" expand="block">Perro
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioPerroBra');" expand="block">Cachorro
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioDog');" expand="block">dog</ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioRojo')" expand="block">Rojo</ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioRojoBra')" expand="block">Vermelho
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioRed')" expand="block">Red</ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioUno')" expand="block">Uno</ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioUnoBra')" expand="block">1</ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioOne')" expand="block">One</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioGato');" expand="block">Gato</ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioGatoBra');" expand="block">Gato
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioCat');" expand="block">Cat</ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioVerde')" expand="block">Verde</ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioVerdeBra')" expand="block">Verde
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioGreen')" expand="block">Green</ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioDos')" expand="block">Dos</ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioDosBra')" expand="block">Dois</ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioTwo')" expand="block">Two</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioPajaro');" expand="block">Pajaro
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioPajaroBra');" expand="block">Pássaro
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioBird');" expand="block">Bird</ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioAzul')" expand="block">Azul</ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioAzulBra')" expand="block">Azul
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioBlue')" expand="block">Blue</ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioTres')" expand="block">Tres</ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioTresBra')" expand="block">Três</ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioThree')" expand="block">Three</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioPez');" expand="block">Pez</ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioPezBra');" expand="block">Peixe
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioFish');" expand="block">Fish</ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioAmarillo')" expand="block">Amarillo
      </ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioAmarilloBra')" expand="block">Amarelo
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioYellow')" expand="block">Yellow</ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioCuatro')" expand="block">Cuatro
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioCuatroBra')" expand="block">Quatro
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioFour')" expand="block">Four</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioRaton');" expand="block">Raton
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioRatonBra');" expand="block">Mouse
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioMouse');" expand="block">Mouse</ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioVioleta')" expand="block">Violeta
      </ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioVioletaBra')" expand="block">Tolet
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioPurple')" expand="block">Purple</ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioCinco')" expand="block">Cinco</ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioCincoBra')" expand="block">Cinco
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioFive')" expand="block">Five</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center fila">
    <ion-col class="ion-text-end">
      <ion-icon *ngIf="botonArg" style="font-size: 64px;" src="../assets/img/arg.svg"></ion-icon>
      <ion-icon *ngIf="botonBra" style="font-size: 64px;" src="../assets/img/br.svg"></ion-icon>
      <ion-icon *ngIf="botonUk" style="font-size: 64px;" src="../assets/img/uk.svg"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-start">
      <ion-icon *ngIf="botonNumeros" style="font-size: 64px;" src="../assets/img/numeros.svg"></ion-icon>
      <ion-icon *ngIf="botonColores" style="font-size: 64px;" src="../assets/img/colores.svg"></ion-icon>
      <ion-icon *ngIf="botonAnimales" style="font-size: 64px;" src="../assets/img/animales.svg"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="flag" ios="flag"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon (click)="botonArg = !botonArg; botonBra = false; botonUk = false;" src="../assets/img/arg.svg">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonBra = !botonBra; botonArg = false; botonUk = false;" src="../assets/img/br.svg">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonUk = !botonUk; botonBra = false; botonArg = false;" src="../assets/img/uk.svg">
        </ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="apps-outline" ios="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon (click)="botonNumeros = !botonNumeros; botonColores = false; botonAnimales = false; "
          src="../assets/img/numeros.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonColores = !botonColores; botonNumeros = false; botonAnimales = false;"
          src="../assets/img/colores.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonAnimales = !botonAnimales; botonColores = false; botonNumeros = false;"
          src="../assets/img/animales.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>