<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="home" size="large" color="primary"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon style="font-size: 32px;" src="../assets/img/joystick.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="flag" ios="flag"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon src="../assets/img/arg.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon src="../assets/img/br.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon src="../assets/img/uk.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="apps-outline" ios="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon src="../assets/img/numeros.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon src="../assets/img/colores.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon src="../assets/img/animales.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>