<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="home" size="large" color="primary"></ion-icon>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-icon style="font-size: 32px;" src="../assets/img/joystick.svg"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-buttons slot="end">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="fila">
    <ion-col size="12" class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioPerro');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/perro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioPerroBra');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/perro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioDog');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/perro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioRojo')" expand="block"
        style="--background: red;"></ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioRojoBra')" expand="block"
        style="--background: red;">
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioRed')" expand="block"
        style="--background: red;"></ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioUno')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/uno.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioUnoBra')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/uno.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioOne')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/uno.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioGato');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/gato.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioGatoBra');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/gato.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioCat');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/gato.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioVerde')" expand="block"
        style="--background: green;"></ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioVerdeBra')" expand="block"
        style="--background: green;">
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioGreen')" expand="block"
        style="--background: green;"></ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioDos')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/dos.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioDosBra')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/dos.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioTwo')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/dos.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioPajaro');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/pajaro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioPajaroBra');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/pajaro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioBird');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/pajaro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioAzul')" expand="block"
        style="--background: blue;"></ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioAzulBra')" expand="block"
        style="--background: blue;">
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioBlue')" expand="block"
        style="--background: blue;"></ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioTres')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/tres.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioTresBra')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/tres.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioThree')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/tres.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioPez');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/pez.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioPezBra');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/pez.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioFish');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/pez.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioAmarillo')" expand="block"
        style="--background: yellow;">
      </ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioAmarilloBra')" expand="block"
        style="--background: yellow;">
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioYellow')" expand="block"
        style="--background: yellow;"></ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioCuatro')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/cuatro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioCuatroBra')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/cuatro.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioFour')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/cuatro.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="fila">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="botonAnimales && botonArg" (click)="reproducir('audioRaton');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/raton.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonBra" (click)="reproducir('audioRatonBra');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/raton.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonAnimales && botonUk" (click)="reproducir('audioMouse');" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/raton.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonColores && botonArg" (click)="reproducir('audioVioleta')" expand="block"
        style="--background: rgb(197, 22, 174);">
      </ion-button>
      <ion-button *ngIf="botonColores && botonBra" (click)="reproducir('audioVioletaBra')" expand="block"
        style="--background: rgb(197, 22, 174);">
      </ion-button>
      <ion-button *ngIf="botonColores && botonUk" (click)="reproducir('audioPurple')" expand="block"
        style="--background: rgb(197, 22, 174);"></ion-button>
      <ion-button *ngIf="botonNumeros && botonArg" (click)="reproducir('audioCinco')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/cinco.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonBra" (click)="reproducir('audioCincoBra')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/cinco.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="botonNumeros && botonUk" (click)="reproducir('audioFive')" expand="block">
        <ion-icon style="font-size: 64px;" slot="icon-only" src="../assets/img/cinco.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center fila">
    <ion-col class="ion-text-end">
      <ion-icon *ngIf="botonArg" style="font-size: 64px;" src="../assets/img/arg.svg"></ion-icon>
      <ion-icon *ngIf="botonBra" style="font-size: 64px;" src="../assets/img/br.svg"></ion-icon>
      <ion-icon *ngIf="botonUk" style="font-size: 64px;" src="../assets/img/uk.svg"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-start">
      <ion-icon *ngIf="botonNumeros" style="font-size: 64px;" src="../assets/img/numeros.svg"></ion-icon>
      <ion-icon *ngIf="botonColores" style="font-size: 64px;" src="../assets/img/colores.svg"></ion-icon>
      <ion-icon *ngIf="botonAnimales" style="font-size: 64px;" src="../assets/img/animales.svg"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="flag" ios="flag"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon (click)="botonArg = !botonArg; botonBra = false; botonUk = false;" src="../assets/img/arg.svg">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonBra = !botonBra; botonArg = false; botonUk = false;" src="../assets/img/br.svg">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonUk = !botonUk; botonBra = false; botonArg = false;" src="../assets/img/uk.svg">
        </ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="apps-outline" ios="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon (click)="botonNumeros = !botonNumeros; botonColores = false; botonAnimales = false; "
          src="../assets/img/numeros.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonColores = !botonColores; botonNumeros = false; botonAnimales = false;"
          src="../assets/img/colores.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon (click)="botonAnimales = !botonAnimales; botonColores = false; botonNumeros = false;"
          src="../assets/img/animales.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>